# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=photoviewer

# Photo Library
# Separate multiple paths with ;
PHOTOS_DIR=C:/Users/Public/Pictures/Sample Pictures;D:/MyPhotos

# Security (if needed later)
# SECRET_KEY=your_secret_key
